<h1>{{ "Routing in Angular" | uppercase }}</h1>
<button (click)="goToRoute()">Go to fourth</button>

<div>
  <hr />
  <a routerLink="/first">Go to first</a>
  <hr />
  <a routerLink="/second">Go to second</a>
  <hr />
  <a routerLink="/third">Go to third</a>
  <hr />
  <a routerLink="/fourth">Go to fourth</a>
  <hr />
</div>

<input type="text" [formControl]="testProp" name="testProp" />
<hr />
<button (click)="modifyFormControl()">Modify form control</button>
{{ testProp.value }}

<router-outlet></router-outlet>
